/.git/

**/__pycache__
/*.egg-info
/.python-version
/.ruff_cache/
/pyrightconfig.json

/morpheus/
/treebank_data/

/ldt-corpus.txt
/macronizer.db
/rftagger-ldt.model
/rftagger-lexicon.txt

/macronizer/data/lemmas.py
/macronizer/data/macronized_endings.py
